header {
    background-color: darkgoldenrod;
    color: rgb(255, 255, 255);
    
    padding: 30px;
    margin: 20px;

    font-size: 32px;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer{
    background-color: black;
    color: aliceblue;
    padding: 0px 0px;

    text-align: center;
}
section{
    padding: 50px;
    background-color: black ;
}
.bg-yellow {
    background-color: yellow;
}
.bg-pink {
    background-color: pink;
}
.bg-red{
    background-color: red;
}